<h1><%= @job.title %></h1>
<p><%= @job.description %></p>

<h2>Posted By: <%= @job.user.firstname %> <%= @job.user.lastname %></h2>
<p>
  <strong>About this user:</strong> <%= @job.user.description %>
</p>

<% if @job.user == current_user %>
  <p><%= link_to "Edit Posting", edit_job_path(@job), class: 'btn btn-info' %></p>

  <p><%= link_to "Delete Posting", @job, method: :delete,
          class: 'btn btn-danger', data: {confirm: "Are you sure?"} %></p>
<% end %>

<p>Last Updated: <%= time_ago_in_words(@job.updated_at) %> ago</p>
